body {
    font-family: "Open Sans", sans-serif;
    /*background-image: url(/img/bgImage.jpg);
    background-color: #F1F57F ;
    */
   
}



.jumbotron {
    background-color: #F67EDD;
    padding: 72px 25px 15;
    margin-bottom: 0px;
    width: px;
}
/*section.jumbotron{
    background-color: rgb(153, 167, 121);
    padding: 150 150 150 250;
}*/

h1 {
    font-family: "Comfortaa";
    font-size: 50px;
    color: white;
}
h3 {
    font-family: "Comfortaa";
}

h2 {
    background-color: #E724F1; 
    font-family: "Comfortaa";
    padding: 25px;
    margin :0;
    border: 0px;
    width: 100%;
}

nav { 
    background-color: #E724F1; 
    font-family: "Comfortaa";
    font-size: px;
    padding: 20px; 
    text-align: center;
    border-style: none;
    border-color: white;


}
.fa-cog {
    color: white;
  }

.dropdown-toggle::after {
    display: none;

}

form{
    font-family: "Comfortaa";
}
.header {
    background-color: #E724F1; 
    font-family: "Comfortaa";
    font-size: px;
    padding: 20px; 
    text-align: center;
    border-style: none;
    border-color: white;

}
.dropdown-menu {
    color:  #F1F57F;
    background-color: #0BE8DB;
}
#pMatch {
    color: #0BE8DB;
}



#pic {
        width: 100%;
        height: auto;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;

}
#catPic {
    padding: 75px;
   
   


}

#tGecko {
    padding: 75px;
    
    


}

/*.square {
    position: relative;
    width: 300px;     
    height: 170px;
    overflow: hidden;
 }
 img {
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: auto;
    top: 50%;     
    left: 50%;
    transform: translate( -50%, -50%);
}
 img.landscape {
   height: 69%;
   width: auto;
}

