body {
    font-family: "Open Sans", sans-serif;
    background-color:;  
}

.header {
    background-color: #E724F1; 
    font-family: "Comfortaa"; 
    text-align: center;
}

.navbar {
    background-color: #E724F1; 
    font-family: "Comfortaa"; 
    text-align: center; 
    ;
}

.jumbotron {
    background-color: #F67EDD;
    padding: 72px 20px 15;
    margin-bottom: 0px;
}

h1 {
    font-family: "Comfortaa";
    font-size: 50px;
    color: white;
}
h3, p {
    font-family: "Comfortaa";
}

h2 {
    background-color: #E724F1; 
    font-family: "Comfortaa";
    padding: 25px;
    margin :0;
    border: 0px;
    width: 100%;
}

.fa-cog {
    color: white;
  }

.dropdown-toggle::after {
    display: none;
}

form{
    font-family: "Comfortaa";
}


   


.dropdown-menu {
    color:  #F1F57F;
    background-color: #0BE8DB;
}
#pMatch {
    color: #0BE8DB;
}

#searchBar {
    padding-left: 500px;
    padding-top: 40px;
    padding-bottom: 0px;
}


#pic {
        width: 100%;
        height: auto;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;

}
#catPic {
    padding: 75px;
   
   


}

#tGecko {
    padding: 75px;
    
    
}

#picDiv {
   padding:50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 2px;
        border-style: ;
        border-color: ;
        margin-top: px;
        background-color: cornsilk;
}



footer {
    background-color: #F67EDD;
    padding: 8px;
    color: white;
    font-family: "Comfortaa";
}

#btn1 {
    background-color: #0BE8DB;
    color: white;
    padding-left: px;
}
label {
    padding-right: 10px;
    font-size: 18px;
    
}
#subForm {
    width: 80%;
    margin: auto;
    padding: 75px px;
   
}

#contact{
    align-items: center;
    border: 10px;
    border-style: ;
    max-height: fit-content;
    max-width: fit-content;
    padding-left: 20px;
    margin: 2px; 
}

.modal {
    font-family: "comfortaa";
    

}

.modal-header {
    background-color: #0BE8DB;
    
}



#modButtons {
  background-color: #F67EDD;

   
}

/*#pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

#sCard {
    background-color: #0BE8DB;
    
}

#cardCont {
    background-color: cornsilk;
}